.articles,
.portfolio {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;

  .tile-container {
    padding: 20px;
    background-color: white;
    border: 1px solid #bbb;
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .title {
    margin-top: 0;
  }

  @include phone {
    .tile {
      flex-basis: 100%;

      .tile-container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @include tablet {
    .tile {
      flex-basis: 50%;
    }

    .tile:nth-child(2n+1) .tile-container {
      margin-left: 0;
    }

    .tile:nth-child(2n) .tile-container {
      margin-right: 0;
    }
  }

  @include desktop {
    .tile {
      flex-basis: 33.33%;
    }

    .tile:nth-child(3n+1) .tile-container {
      margin-left: 0;
    }

    .tile:nth-child(3n) .tile-container {
      margin-right: 0;
    }
  }
}

.tile .thumbnail img {
  width: 100%;
  height: auto;
}
