.entry-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }

  p,
  ul,
  ol,
  li,
  a {
    font-family: 'Merriweather', serif;
    line-height: 1.3rem;
  }

  word-break: break-word;

  img.full-width {
    width: 100%;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
  }

  code {
    background-color: rgba(98, 0, 255, 0.12);
  }

  ul {
    padding-left: 20px;
    list-style-type: square;
  }

  ol {
    padding-left: 35px;
    list-style-type: decimal;
  }
}
